/* --------------------------------------------------------
   Dependencies
   -------------------------------------------------------- */
/* ELEMENT DEFAULTS */
/* SPECIFIC */
/* LINE HEIGHT DEFAULTS */
/* TEXT MARGIN DEFAULTS */
/* $carousel-control-width:                      20%; */
/* --------------------------------------------------------
   Mixins
   -------------------------------------------------------- */
/* styles for std solid bg button */
/* FLEXBOX + OPTIONS */
/* Hover-link: a link that only has an underline when you hover over it */
::-webkit-input-placeholder {
  color: #B1B3B3;
  font-size: 14px;
  font-weight: 400; }

:-moz-placeholder {
  color: #B1B3B3;
  font-size: 14px;
  font-weight: 400; }

::-moz-placeholder {
  color: #B1B3B3;
  font-size: 14px;
  font-weight: 400; }

:-ms-input-placeholder {
  color: #B1B3B3;
  font-size: 14px;
  font-weight: 400; }

::placeholder {
  color: #B1B3B3;
  font-size: 14px;
  font-weight: 400; }

/* --------------------------------------------------------
   Reset
   -------------------------------------------------------- */
/*===CssFileBegin===*/
/*CssFileName:bootstrap.css*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body, html {
  box-sizing: border-box;
  min-height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
.enter {
  animation: fadeIn 0.75s both linear; }

.leave {
  animation: fadeOut 0.25s both linear; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Effra', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #53565A; }

@media only screen and (max-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    background-color: transparent; }

  body::-webkit-scrollbar-thumb {
    display: none;
    width: 0 !important;
    background-color: transparent; }

  body::-webkit-scrollbar-track {
    display: none;
    width: 0 !important;
    background-color: transparent; }

  body::-webkit-scrollbar-track-piece {
    display: none;
    width: 0 !important;
    background-color: transparent; } }
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.875rem; }

.h1-accent {
  font-weight: 300;
  display: block; }

h2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.9375rem; }

h3 {
  font-size: 1.875rem;
  line-height: 2.175rem;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 1.875rem; }

h4 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 1.575rem; }

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 1.575rem; }

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 0.9375rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 1.575rem; }

a:hover {
  cursor: pointer; }

.font-weight-light {
  font-weight: 300; }

.font-weight-reg {
  font-weight: 400; }

.font-weight-med {
  font-weight: 500; }

.font-weight-bold {
  font-weight: 600; }

.uppercase {
  text-transform: uppercase; }

.charcoal-gray {
  color: #53565A; }

.dark-gray {
  color: #888B8D; }

ul {
  margin-bottom: 1.575rem;
  list-style-type: square; }

li {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 0.9375rem; }

nav a {
  font-size: 1rem;
  font-weight: 300; }

p > a {
  text-decoration: underline;
  font-weight: 400;
  color: #0085CA;
  text-transform: uppercase; }

button {
  overflow: hidden;
  white-space: nowrap; }

button,
input[type="button"] {
  border-radius: 0; }

a > h6 {
  text-decoration: underline; }

.icon--right {
  margin-left: 5px; }

.icon--left {
  margin-right: 5px; }

.mi {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important; }

@media (max-width: 1200px) {
  html {
    font-size: 1rem; } }
@media (max-width: 768px) {
  html {
    font-size: 0.875rem; } }
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 0px; }
  @media (min-width: 321px) {
    .container {
      max-width: 320px; } }
  @media (min-width: 565px) {
    .container {
      max-width: 565px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 996px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1230px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px; }

.col-xs-1 {
  flex: 0 0 8.3333333333%; }

.col-xs-2 {
  flex: 0 0 16.6666666667%; }

.col-xs-3 {
  flex: 0 0 25%; }

.col-xs-4 {
  flex: 0 0 33.3333333333%; }

.col-xs-5 {
  flex: 0 0 41.6666666667%; }

.col-xs-6 {
  flex: 0 0 50%; }

.col-xs-7 {
  flex: 0 0 58.3333333333%; }

.col-xs-8 {
  flex: 0 0 66.6666666667%; }

.col-xs-9 {
  flex: 0 0 75%; }

.col-xs-10 {
  flex: 0 0 83.3333333333%; }

.col-xs-11 {
  flex: 0 0 91.6666666667%; }

.col-xs-12 {
  flex: 0 0 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 321px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%; }

  .col-sm-2 {
    flex: 0 0 16.6666666667%; }

  .col-sm-3 {
    flex: 0 0 25%; }

  .col-sm-4 {
    flex: 0 0 33.3333333333%; }

  .col-sm-5 {
    flex: 0 0 41.6666666667%; }

  .col-sm-6 {
    flex: 0 0 50%; }

  .col-sm-7 {
    flex: 0 0 58.3333333333%; }

  .col-sm-8 {
    flex: 0 0 66.6666666667%; }

  .col-sm-9 {
    flex: 0 0 75%; }

  .col-sm-10 {
    flex: 0 0 83.3333333333%; }

  .col-sm-11 {
    flex: 0 0 91.6666666667%; }

  .col-sm-12 {
    flex: 0 0 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 565px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%; }

  .col-md-2 {
    flex: 0 0 16.6666666667%; }

  .col-md-3 {
    flex: 0 0 25%; }

  .col-md-4 {
    flex: 0 0 33.3333333333%; }

  .col-md-5 {
    flex: 0 0 41.6666666667%; }

  .col-md-6 {
    flex: 0 0 50%; }

  .col-md-7 {
    flex: 0 0 58.3333333333%; }

  .col-md-8 {
    flex: 0 0 66.6666666667%; }

  .col-md-9 {
    flex: 0 0 75%; }

  .col-md-10 {
    flex: 0 0 83.3333333333%; }

  .col-md-11 {
    flex: 0 0 91.6666666667%; }

  .col-md-12 {
    flex: 0 0 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 768px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%; }

  .col-lg-2 {
    flex: 0 0 16.6666666667%; }

  .col-lg-3 {
    flex: 0 0 25%; }

  .col-lg-4 {
    flex: 0 0 33.3333333333%; }

  .col-lg-5 {
    flex: 0 0 41.6666666667%; }

  .col-lg-6 {
    flex: 0 0 50%; }

  .col-lg-7 {
    flex: 0 0 58.3333333333%; }

  .col-lg-8 {
    flex: 0 0 66.6666666667%; }

  .col-lg-9 {
    flex: 0 0 75%; }

  .col-lg-10 {
    flex: 0 0 83.3333333333%; }

  .col-lg-11 {
    flex: 0 0 91.6666666667%; }

  .col-lg-12 {
    flex: 0 0 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1024px) {
  .col-xl-1 {
    flex: 0 0 8.3333333333%; }

  .col-xl-2 {
    flex: 0 0 16.6666666667%; }

  .col-xl-3 {
    flex: 0 0 25%; }

  .col-xl-4 {
    flex: 0 0 33.3333333333%; }

  .col-xl-5 {
    flex: 0 0 41.6666666667%; }

  .col-xl-6 {
    flex: 0 0 50%; }

  .col-xl-7 {
    flex: 0 0 58.3333333333%; }

  .col-xl-8 {
    flex: 0 0 66.6666666667%; }

  .col-xl-9 {
    flex: 0 0 75%; }

  .col-xl-10 {
    flex: 0 0 83.3333333333%; }

  .col-xl-11 {
    flex: 0 0 91.6666666667%; }

  .col-xl-12 {
    flex: 0 0 100%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-pull-1 {
    right: 8.3333333333%; }

  .col-xl-pull-2 {
    right: 16.6666666667%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-4 {
    right: 33.3333333333%; }

  .col-xl-pull-5 {
    right: 41.6666666667%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-7 {
    right: 58.3333333333%; }

  .col-xl-pull-8 {
    right: 66.6666666667%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-10 {
    right: 83.3333333333%; }

  .col-xl-pull-11 {
    right: 91.6666666667%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-push-1 {
    left: 8.3333333333%; }

  .col-xl-push-2 {
    left: 16.6666666667%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-4 {
    left: 33.3333333333%; }

  .col-xl-push-5 {
    left: 41.6666666667%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-7 {
    left: 58.3333333333%; }

  .col-xl-push-8 {
    left: 66.6666666667%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-10 {
    left: 83.3333333333%; }

  .col-xl-push-11 {
    left: 91.6666666667%; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-xxl-1 {
    flex: 0 0 8.3333333333%; }

  .col-xxl-2 {
    flex: 0 0 16.6666666667%; }

  .col-xxl-3 {
    flex: 0 0 25%; }

  .col-xxl-4 {
    flex: 0 0 33.3333333333%; }

  .col-xxl-5 {
    flex: 0 0 41.6666666667%; }

  .col-xxl-6 {
    flex: 0 0 50%; }

  .col-xxl-7 {
    flex: 0 0 58.3333333333%; }

  .col-xxl-8 {
    flex: 0 0 66.6666666667%; }

  .col-xxl-9 {
    flex: 0 0 75%; }

  .col-xxl-10 {
    flex: 0 0 83.3333333333%; }

  .col-xxl-11 {
    flex: 0 0 91.6666666667%; }

  .col-xxl-12 {
    flex: 0 0 100%; }

  .col-xxl-pull-0 {
    right: auto; }

  .col-xxl-pull-1 {
    right: 8.3333333333%; }

  .col-xxl-pull-2 {
    right: 16.6666666667%; }

  .col-xxl-pull-3 {
    right: 25%; }

  .col-xxl-pull-4 {
    right: 33.3333333333%; }

  .col-xxl-pull-5 {
    right: 41.6666666667%; }

  .col-xxl-pull-6 {
    right: 50%; }

  .col-xxl-pull-7 {
    right: 58.3333333333%; }

  .col-xxl-pull-8 {
    right: 66.6666666667%; }

  .col-xxl-pull-9 {
    right: 75%; }

  .col-xxl-pull-10 {
    right: 83.3333333333%; }

  .col-xxl-pull-11 {
    right: 91.6666666667%; }

  .col-xxl-pull-12 {
    right: 100%; }

  .col-xxl-push-0 {
    left: auto; }

  .col-xxl-push-1 {
    left: 8.3333333333%; }

  .col-xxl-push-2 {
    left: 16.6666666667%; }

  .col-xxl-push-3 {
    left: 25%; }

  .col-xxl-push-4 {
    left: 33.3333333333%; }

  .col-xxl-push-5 {
    left: 41.6666666667%; }

  .col-xxl-push-6 {
    left: 50%; }

  .col-xxl-push-7 {
    left: 58.3333333333%; }

  .col-xxl-push-8 {
    left: 66.6666666667%; }

  .col-xxl-push-9 {
    left: 75%; }

  .col-xxl-push-10 {
    left: 83.3333333333%; }

  .col-xxl-push-11 {
    left: 91.6666666667%; }

  .col-xxl-push-12 {
    left: 100%; }

  .col-xxl-offset-0 {
    margin-left: 0%; }

  .col-xxl-offset-1 {
    margin-left: 8.3333333333%; }

  .col-xxl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xxl-offset-3 {
    margin-left: 25%; }

  .col-xxl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xxl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xxl-offset-6 {
    margin-left: 50%; }

  .col-xxl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xxl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xxl-offset-9 {
    margin-left: 75%; }

  .col-xxl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xxl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xxl-offset-12 {
    margin-left: 100%; } }
.col-xs-first {
  order: -1; }

.col-xs-last {
  order: 1; }

@media (min-width: 321px) {
  .col-sm-first {
    order: -1; }

  .col-sm-last {
    order: 1; } }
@media (min-width: 565px) {
  .col-md-first {
    order: -1; }

  .col-md-last {
    order: 1; } }
@media (min-width: 768px) {
  .col-lg-first {
    order: -1; }

  .col-lg-last {
    order: 1; } }
@media (min-width: 1024px) {
  .col-xl-first {
    order: -1; }

  .col-xl-last {
    order: 1; } }
@media (min-width: 1200px) {
  .col-xxl-first {
    order: -1; }

  .col-xxl-last {
    order: 1; } }
.row-xs-top {
  align-items: flex-start; }

.row-xs-center {
  align-items: center; }

.row-xs-bottom {
  align-items: flex-end; }

@media (min-width: 321px) {
  .row-sm-top {
    align-items: flex-start; }

  .row-sm-center {
    align-items: center; }

  .row-sm-bottom {
    align-items: flex-end; } }
@media (min-width: 565px) {
  .row-md-top {
    align-items: flex-start; }

  .row-md-center {
    align-items: center; }

  .row-md-bottom {
    align-items: flex-end; } }
@media (min-width: 768px) {
  .row-lg-top {
    align-items: flex-start; }

  .row-lg-center {
    align-items: center; }

  .row-lg-bottom {
    align-items: flex-end; } }
@media (min-width: 1024px) {
  .row-xl-top {
    align-items: flex-start; }

  .row-xl-center {
    align-items: center; }

  .row-xl-bottom {
    align-items: flex-end; } }
@media (min-width: 1200px) {
  .row-xxl-top {
    align-items: flex-start; }

  .row-xxl-center {
    align-items: center; }

  .row-xxl-bottom {
    align-items: flex-end; } }
.col-xs-top {
  align-self: flex-start; }

.col-xs-center {
  align-self: center; }

.col-xs-bottom {
  align-self: flex-end; }

@media (min-width: 321px) {
  .col-sm-top {
    align-self: flex-start; }

  .col-sm-center {
    align-self: center; }

  .col-sm-bottom {
    align-self: flex-end; } }
@media (min-width: 565px) {
  .col-md-top {
    align-self: flex-start; }

  .col-md-center {
    align-self: center; }

  .col-md-bottom {
    align-self: flex-end; } }
@media (min-width: 768px) {
  .col-lg-top {
    align-self: flex-start; }

  .col-lg-center {
    align-self: center; }

  .col-lg-bottom {
    align-self: flex-end; } }
@media (min-width: 1024px) {
  .col-xl-top {
    align-self: flex-start; }

  .col-xl-center {
    align-self: center; }

  .col-xl-bottom {
    align-self: flex-end; } }
@media (min-width: 1200px) {
  .col-xxl-top {
    align-self: flex-start; }

  .col-xxl-center {
    align-self: center; }

  .col-xxl-bottom {
    align-self: flex-end; } }
.main__container {
  padding-top: 100px; }
  @media (max-width: 1199px) {
    .main__container {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .main__container {
      padding-top: 60px; } }

.inner__wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .inner__wrap {
      padding-right: 25px;
      padding-left: 25px; } }
  @media (max-width: 767px) {
    .inner__wrap {
      padding-right: 15px;
      padding-left: 15px; } }

.accordion__item {
  border: 1px solid #B1B3B3; }
  .accordion__item:first-of-type {
    border-bottom: 0 none; }

.accordion__trigger {
  padding: 15px 0px 0px 0px;
  font-weight: 400;
  margin-bottom: 0; }
  .accordion__trigger h6 {
    font-weight: 500;
    margin-bottom: 0;
    text-transform: none;
    display: inline-block;
    padding: 0px 0px 15px 15px;
    max-width: 85%; }
  .accordion__trigger i {
    font-size: 1rem;
    color: #0085CA;
    float: right;
    display: none;
    padding: 0 15px 0 0;
    display: inline-block; }

.accordion__content {
  padding: 35px 15px;
  background-color: #F8F8F8;
  border-top: 1px solid #B1B3B3;
  display: none; }
  .accordion__content .btn__solid {
    margin-bottom: 0; }

.faux-breadcrumbs {
  width: 100%;
  background-color: #F8F8F8;
  border-bottom: 1px solid #B1B3B3;
  padding: 30px 0; }
  @media (max-width: 767px) {
    .faux-breadcrumbs {
      padding: 18px 0; } }
  .faux-breadcrumbs h5 {
    text-decoration: none;
    color: #0085CA;
    margin-bottom: 0; }
    .faux-breadcrumbs h5:hover, .faux-breadcrumbs h5:focus {
      text-decoration: underline;
      cursor: pointer; }
      .faux-breadcrumbs h5:hover > i, .faux-breadcrumbs h5:focus > i {
        text-decoration: none !important; }
  .faux-breadcrumbs span.mi {
    font-size: 14px;
    font-size: 0.875rem;
    position: relative;
    top: 1px;
    margin-right: 4px; }

.btn__icon {
  border: 0 none;
  border-radius: 0;
  text-decoration: none;
  transition: background-color 0.2s ease;
  background-color: #0085CA;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  position: relative; }
  .btn__icon:hover {
    cursor: pointer;
    background-color: #00A9E0; }
  .btn__icon i,
  .btn__icon span {
    color: #FFFFFF;
    position: absolute;
    height: 50%; }

.btn__icon--lg {
  width: 50px;
  height: 50px;
  line-height: 50px; }
  .btn__icon--lg i,
  .btn__icon--lg span {
    font-size: 20px;
    top: 53%;
    left: 52%;
    transform: translate(-48%, -47%); }

.btn__icon--sm {
  width: 40px;
  height: 40px;
  line-height: 40px; }
  .btn__icon--sm i,
  .btn__icon--sm span {
    font-size: 15px;
    top: 54%;
    left: 52%;
    transform: translate(-48%, -46%); }

.btn__ghost {
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #0085CA;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn__ghost:hover {
    transition: color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    color: #0085CA;
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  .btn__ghost.btn__ghost--xs {
    padding: 1px 6px; }
  .btn__ghost.btn__ghost--md {
    padding: 11px 19px; }
  .btn__ghost.btn__ghost--lg {
    padding: 19px 47px; }

.btn__ghost--white {
  font-size: 16px;
  font-size: 1rem;
  color: #0085CA;
  background-color: #FFFFFF;
  border: 1px solid #0085CA;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn__ghost--white:hover {
    transition: color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0085CA;
    border-color: #0085CA; }

.btn__phantom {
  font-size: 16px;
  font-size: 1rem;
  color: #0085CA;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn__phantom:hover {
    cursor: pointer;
    text-decoration: underline; }
  .btn__phantom.btn__phantom--md {
    padding: 12px 20px 12px 0px; }
  .btn__phantom.btn__phantom--lg {
    padding: 20px 48px 20px 0px; }
    @media (max-width: 564px) {
      .btn__phantom.btn__phantom--lg {
        padding: 16px 24px 16px 0px; } }

.btn__solid {
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #0085CA;
  font-weight: 500;
  border: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn__solid:hover {
    transition: background 0.3s ease-in-out;
    background-color: #00A9E0;
    cursor: pointer; }
  .btn__solid.btn__solid--xs {
    padding: 2px 7px; }
  .btn__solid.btn__solid--md {
    padding: 12px 20px; }
  .btn__solid.btn__solid--lg {
    padding: 20px 48px; }
    @media (max-width: 564px) {
      .btn__solid.btn__solid--lg {
        padding: 12px 20px; } }

.hidden-button {
  display: none; }

.carousel {
  position: relative;
  min-height: fit-content;
  overflow: hidden; }

.carousel__deck {
  display: flex;
  flex-wrap: nowrap; }
  .carousel__deck .carousel__card {
    flex: 0 0 auto; }
  @media (max-width: 1023px) {
    .carousel__deck {
      overflow-x: scroll; } }

.carousel__card {
  position: relative;
  display: block; }

.carousel__card--33 {
  width: 32%; }
  .carousel__card--33:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%; }
  .carousel__card--33:nth-child(3n) {
    margin-right: auto; }
  @media (max-width: 1023px) {
    .carousel__card--33 {
      width: 297px; }
      .carousel__card--33:nth-child(n) {
        margin-bottom: 15px;
        margin-right: 15px; }
      .carousel__card--33:last-child {
        margin-right: 0px; } }
  @media (max-width: 767px) {
    .carousel__card--33 {
      width: 220px; } }

.error-bar {
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #E35205;
  color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.35);
  padding: 40px 0; }
  @media (max-width: 564px) {
    .error-bar {
      padding: 40px 15px; } }
  .error-bar h5 {
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 8px; }
  .error-bar .error-bar__button {
    color: #FFFFFF;
    background-color: #E35205;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    /* margin-left: 8px; */
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    position: relative; }
    .error-bar .error-bar__button i,
    .error-bar .error-bar__button span {
      font-size: 10px;
      position: absolute;
      top: 4px;
      left: 4px; }
    .error-bar .error-bar__button:hover {
      cursor: pointer;
      color: #FFFFFF;
      background-color: #E35205; }

p label,
label {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #53565A;
  margin-bottom: 13px !important;
  display: block; }

input.form__field,
select.form__field,
textarea.form__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  color: #53565A;
  font-weight: 500;
  padding: 15px 10px;
  display: block;
  border: 1px solid #888B8D;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  background-color: #FFFFFF; }
  input.form__field.has-focus,
  select.form__field.has-focus,
  textarea.form__field.has-focus {
    border: 2px solid #E35205; }

.form__error {
  color: #E35205;
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px; }

input.form__field--50,
select.form__field--50,
textarea.form__field--50 {
  width: 49%; }
  @media (max-width: 767px) {
    input.form__field--50,
    select.form__field--50,
    textarea.form__field--50 {
      width: 100%; } }

input.form__field--100,
select.form__field-100,
textarea.form__field--100 {
  width: 100%; }

input.form__field--10 {
  width: 10%; }

input[type=checkbox] {
  display: inline-block;
  width: auto;
  padding: 10px 10px;
  margin-right: 5px; }

input.form__field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 0.75rem; }

select.form__field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25rem;
  background: url("../img/down-caret.svg") no-repeat;
  background-position: right 10px top 0.75rem;
  background-size: 1rem;
  background-color: #FFFFFF; }

input.form__field--sm,
select.form__field--sm {
  padding: 5px;
  width: 50px; }

input.form__field--inline,
select.form__field--inline {
  display: inline-block; }

.faux__field {
  font-size: 1rem;
  color: #53565A;
  font-weight: 500;
  padding: 15px 10px;
  display: block;
  border: 1px solid #888B8D;
  border-radius: 0;
  width: 100%; }

.lintel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: #001E46;
  color: #FFFFFF;
  display: block;
  max-width: 100vw;
  width: 100%;
  z-index: 2; }

.modal {
  background-color: #001E46;
  padding: 40px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: none; }

.hide-overlay {
  display: none; }

.show-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 4; }

.panel {
  position: relative; }

.panel__100 {
  flex: 0 0 100%;
  max-width: 100%;
  display: block; }

.panel__80 {
  flex: 0 0 80%;
  max-width: 80%; }
  @media (max-width: 767px) {
    .panel__80 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__75 {
  flex: 0 0 75%;
  max-width: 75%; }

.panel__66 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666667%; }
  @media (max-width: 1023px) {
    .panel__66 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__65 {
  flex: 0 0 65%;
  max-width: 65%; }
  @media (max-width: 767px) {
    .panel__65 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__60 {
  flex: 0 0 60%;
  max-width: 60%; }
  @media (max-width: 767px) {
    .panel__60 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__50 {
  flex: 0 0 50%;
  max-width: 50%; }
  @media (max-width: 767px) {
    .panel__50 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__40 {
  flex: 0 0 40%;
  max-width: 40%; }
  @media (max-width: 767px) {
    .panel__40 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__35 {
  flex: 0 0 35%;
  max-width: 35%; }
  @media (max-width: 767px) {
    .panel__35 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__33 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }
  @media (max-width: 1023px) {
    .panel__33 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__25 {
  flex: 0 0 25%;
  max-width: 25%; }

.panel__20 {
  flex: 0 0 20%;
  max-width: 20%; }
  @media (max-width: 767px) {
    .panel__20 {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; } }

.panel__16 {
  flex: 0 0 16.6666666667%;
  max-width: 16.67%; }

.home ::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #E8E8E7;
  border: 1px solid #E8E8E7;
  height: 5px; }
.home ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 5px;
  background-color: #888B8D;
  -webkit-box-shadow: 0 0 1px #888B8D; }
.home .home__banner {
  color: #FFFFFF;
  background-color: #001E46; }
  @media (max-width: 767px) {
    .home .home__banner .panel.panel__50:first-child {
      padding: 50px 25px 0px 25px; }
    .home .home__banner .panel.panel__50:last-child {
      padding: 0px 25px 30px 25px; } }
  @media (max-width: 564px) {
    .home .home__banner .panel.panel__50:first-child {
      padding: 40px 15px 0px 15px; }
    .home .home__banner .panel.panel__50:last-child {
      padding: 0px 15px 20px 15px; } }
  .home .home__banner .panel__content {
    padding: 100px 25px 75px 25px; }
    @media (max-width: 1023px) {
      .home .home__banner .panel__content h1 {
        font-size: 1.875rem; } }
    @media (max-width: 767px) {
      .home .home__banner .panel__content {
        padding: 0px; } }
    @media (max-width: 564px) {
      .home .home__banner .panel__content h1 {
        font-size: 1.375rem; } }
.home .home__runner {
  color: #FFFFFF;
  background-color: #0085CA;
  padding: 40px 0; }
  @media (max-width: 564px) {
    .home .home__runner {
      padding: 20px 15px; } }
  .home .home__runner .row {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .home .home__runner .row {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
  .home .home__runner .runner__text {
    margin-right: 19px; }
    .home .home__runner .runner__text h4 {
      margin-bottom: 10px; }
    .home .home__runner .runner__text p {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      .home .home__runner .runner__text {
        margin-right: 16px; }
        .home .home__runner .runner__text h4 {
          margin-bottom: 0px; } }
  .home .home__runner .runner__button {
    margin-left: 19px; }
    @media (max-width: 767px) {
      .home .home__runner .runner__button {
        margin-left: 0px; } }
.home .choose-your-tube {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0; }
  @media (max-width: 1199px) {
    .home .choose-your-tube {
      padding: 60px 20px; } }
  @media (max-width: 564px) {
    .home .choose-your-tube {
      padding: 40px 15px; } }
  .home .choose-your-tube .row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
  .home .choose-your-tube .tube__header {
    width: 100%;
    text-align: center; }
    .home .choose-your-tube .tube__header h3 {
      color: #001E46;
      margin-bottom: 60px;
      text-transform: uppercase; }
    .home .choose-your-tube .tube__header h4 {
      color: #53565A;
      margin-bottom: 16px; }
  .home .choose-your-tube .tube__content {
    padding: 60px 65px;
    background-color: #F8F8F8;
    border: 1px solid #B1B3B3;
    text-align: center; }
    @media (max-width: 1199px) {
      .home .choose-your-tube .tube__content {
        padding: 38px 32px; } }
    @media (max-width: 767px) {
      .home .choose-your-tube .tube__content {
        padding: 28px 24px; } }
  .home .choose-your-tube .tube__image img {
    max-width: 100%;
    border: 1px solid #B1B3B3;
    display: block; }
  .home .choose-your-tube .tube__cta {
    padding-top: 25px; }
    .home .choose-your-tube .tube__cta.row {
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      flex: 0 0 100%; }
      .home .choose-your-tube .tube__cta.row a {
        flex: 0 0 47.9166666667%; }
    .home .choose-your-tube .tube__cta button {
      width: 100%;
      margin-bottom: 0; }
    .home .choose-your-tube .tube__cta .btn__solid.btn__solid--lg {
      padding: 20px 0;
      width: 100%;
      text-align: center; }
      @media (max-width: 767px) {
        .home .choose-your-tube .tube__cta .btn__solid.btn__solid--lg {
          padding: 16px 0; } }
  .home .choose-your-tube .tube__disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 60px; }
    .home .choose-your-tube .tube__disclaimer h5 {
      display: block;
      margin-bottom: 20px; }
    .home .choose-your-tube .tube__disclaimer p {
      margin-bottom: 0px; }

.flyout__header {
  width: 100%;
  display: block;
  background-color: #F8F8F8;
  height: 110px;
  color: #53565A;
  padding: 0 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 1px solid #B1B3B3; }
  .flyout__header h4, .flyout__header h5, .flyout__header h6 {
    margin-bottom: 0; }
  .flyout__header.flyout__header--alt h4 {
    margin-bottom: 1rem; }
  .flyout__header.flyout__header--alt p {
    margin-bottom: 0; }
  @media (max-width: 564px) {
    .flyout__header {
      padding: 0 15px; } }

.flyout__item {
  padding: 25px;
  border-bottom: 1px solid #B1B3B3; }
  @media (max-width: 564px) {
    .flyout__item {
      padding: 25px 15px; } }
  .flyout__item h5 {
    margin-bottom: 0; }
    .flyout__item h5 span {
      position: relative;
      top: 1px;
      padding-right: 4px; }

.flyout__nav {
  background-color: #FFFFFF; }
  .flyout__nav h6 {
    text-transform: none;
    margin-bottom: 0;
    padding: 25px; }
  .flyout__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .flyout__nav .flyout__li {
    padding: 25px 0px 0px 0px;
    font-weight: 400;
    margin-bottom: 0;
    border-bottom: 1px solid #B1B3B3; }
    .flyout__nav .flyout__li:hover {
      cursor: pointer; }
    .flyout__nav .flyout__li h6 {
      font-weight: 500;
      margin-bottom: 0;
      text-transform: none;
      display: inline-block;
      padding: 0px 0px 25px 25px;
      max-width: 85%; }
      @media (max-width: 564px) {
        .flyout__nav .flyout__li h6 {
          padding: 0px 0px 25px 15px; } }
    .flyout__nav .flyout__li i {
      font-size: 1rem;
      float: right;
      display: none;
      padding: 0 25px 0 0;
      display: inline-block; }
      @media (max-width: 564px) {
        .flyout__nav .flyout__li i {
          padding: 0 15px 0 0; } }

.flyout__answer {
  display: none; }
  .flyout__answer p {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 25px 25px 25px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.57; }
    @media (max-width: 564px) {
      .flyout__answer p {
        padding: 0 15px 25px 15px; } }
    .flyout__answer p span.flyout__link {
      color: #0085CA;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 600; }

#formSlider {
  position: fixed;
  top: 0;
  left: 0;
  width: 650px;
  height: 100%;
  background: #FFFFFF;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  color: #53565A;
  z-index: 5;
  overflow: scroll; }
  @media (max-width: 1199px) {
    #formSlider {
      width: 615px; } }
  @media (max-width: 767px) {
    #formSlider {
      width: 545px; } }
  @media (max-width: 564px) {
    #formSlider {
      width: 100%; } }

.form-slide-in {
  animation: form-slide-in 0.5s forwards;
  -webkit-animation: form-slide-in 0.5s forwards; }

.form-slide-out {
  animation: form-slide-out 0.5s forwards;
  -webkit-animation: form-slide-out 0.5s forwards; }

@keyframes form-slide-in {
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes form-slide-in {
  100% {
    -webkit-transform: translateX(0%); } }
@keyframes form-slide-out {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }
@-webkit-keyframes form-slide-out {
  0% {
    -webkit-transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-100%); } }
#helpSlider {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 100%;
  background: #FFFFFF;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  color: #53565A;
  z-index: 5; }
  @media (max-width: 1199px) {
    #helpSlider {
      width: 400px; } }
  @media (max-width: 564px) {
    #helpSlider {
      width: 100%; } }

.help-slide-in {
  animation: help-slide-in 0.5s forwards;
  -webkit-animation: help-slide-in 0.5s forwards; }

.help-slide-out {
  animation: help-slide-out 0.5s forwards;
  -webkit-animation: help-slide-out 0.5s forwards; }

@keyframes help-slide-in {
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes help-slide-in {
  100% {
    -webkit-transform: translateX(0%); } }
@keyframes help-slide-out {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }
@-webkit-keyframes help-slide-out {
  0% {
    -webkit-transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(100%); } }
.fieldset {
  display: none;
  border: 0 none;
  position: relative;
  padding: 75px; }
  @media (max-width: 1199px) {
    .fieldset {
      padding: 55px 50px; } }
  @media (max-width: 1023px) {
    .fieldset {
      padding: 50px 35px; } }
  @media (max-width: 564px) {
    .fieldset {
      padding: 35px 0px; }
      .fieldset#finalize {
        text-align: left; } }

.fieldset__header {
  color: #001E46;
  margin-bottom: 50px; }
  @media (max-width: 564px) {
    .fieldset__header {
      font-size: 1.5rem;
      margin-bottom: 30px; } }

.fieldset__row {
  flex: 0 0 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .fieldset__row {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.fieldset__content {
  flex: 0 0 45.8333333333%; }
  @media (max-width: 767px) {
    .fieldset__content {
      flex: 0 0 100%; } }
  .fieldset__content.fieldset__content--wide {
    flex: 0 0 56.6666666667%; }
    @media (max-width: 767px) {
      .fieldset__content.fieldset__content--wide {
        flex: 0 0 100%; } }

.wide-fieldset {
  padding: 68px 0; }
  @media (max-width: 564px) {
    .wide-fieldset {
      padding: 35px 0; } }
  @media (max-width: 1023px) {
    .wide-fieldset .fieldset__row {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.fieldset__inputs {
  min-height: 130px;
  height: auto; }
  @media (max-width: 767px) {
    .fieldset__inputs {
      min-height: auto; } }
  .fieldset__inputs h6 {
    color: #53565A; }
    .fieldset__inputs h6 span {
      display: inline; }
  .fieldset__inputs p {
    color: #888B8D;
    font-weight: 400;
    margin-bottom: 20px; }

.fieldset__image {
  flex: 0 0 54.1666666667%; }
  @media (max-width: 767px) {
    .fieldset__image {
      flex: 0 0 100%; } }
  .fieldset__image.fieldset__image--narrow {
    flex: 0 0 43.3333333333%; }
    @media (max-width: 767px) {
      .fieldset__image.fieldset__image--narrow {
        flex: 0 0 100%; } }
  .fieldset__image img {
    max-width: 100%;
    display: block; }

.tooltip-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative; }

.tooltip-toggle {
  font-size: 20px;
  font-size: 1.25rem;
  color: #0085CA;
  padding-left: 5px;
  position: relative;
  top: 1px; }
  .tooltip-toggle:hover {
    cursor: pointer; }

.tooltip-cage {
  width: 100%; }

.tooltip__field--50 {
  width: 49%; }
  @media (max-width: 767px) {
    .tooltip__field--50 {
      width: 100%; } }

.input-wrapper {
  display: inline-block;
  width: 100%; }
  .input-wrapper > .form__field {
    width: 100%; }
  .input-wrapper > .tooltip {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 50px;
    height: auto;
    background-color: #F8F8F8;
    z-index: 1;
    padding: 8px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    display: none;
    font-size: 12px;
    color: #888B8D;
    font-weight: 400;
    line-height: 1rem; }
    .input-wrapper > .tooltip.tooltip--input {
      width: calc(100% - 25px); }
      @media (max-width: 1199px) {
        .input-wrapper > .tooltip.tooltip--input {
          width: calc(100% - 22px); } }
    .input-wrapper > .tooltip.tooltip--text {
      width: calc(100% - 25px); }
      @media (max-width: 1199px) {
        .input-wrapper > .tooltip.tooltip--text {
          width: calc(100% - 22px); } }
    .input-wrapper > .tooltip.is-shown {
      display: inline-block; }

.phone-number {
  color: #0085CA;
  text-decoration: underline;
  font-weight: 500; }

.button__row {
  /* @include make-col-span(6); */
  /* max-width: 50%; */
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding-top: 40px; }
  @media (max-width: 767px) {
    .button__row {
      padding: 15px 15px;
      width: 100%;
      position: fixed;
      bottom: 0px;
      left: 0px;
      height: auto;
      background-color: #FFFFFF;
      z-index: 3;
      border-top: 1px solid #B1B3B3; } }

.row--rev {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.input__row {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }
  .input__row p {
    width: 49%; }
  @media (max-width: 767px) {
    .input__row {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .input__row p {
        width: 100%; } }

.section__header {
  color: #53565A;
  margin-top: 38px;
  margin-bottom: 20px; }

.radio__wrap {
  border: 1px solid #B1B3B3;
  border-bottom: 0 none;
  padding: 15px; }

.radio__wrap.accordion__trigger {
  border: 0 none; }

.disclaimer__section {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #B1B3B3; }

.disclaimer__content {
  text-align: center;
  padding: 50px 0;
  max-width: 50%;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .disclaimer__content {
      max-width: 70%; } }
  @media (max-width: 564px) {
    .disclaimer__content {
      max-width: 100%;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px; } }
  .disclaimer__content .disclaimer h5 {
    display: block;
    margin-bottom: 20px; }
  .disclaimer__content .disclaimer p {
    margin-bottom: 0px;
    font-weight: 400;
    color: #888B8D; }

.start-new-order {
  background-color: #F8F8F8;
  text-align: center;
  padding: 50px 0; }

.modified__main {
  padding: 40px 15px;
  background-color: #F8F8F8;
  border-left: 1px solid #B1B3B3;
  border-right: 1px solid #B1B3B3;
  border-bottom: 1px solid #B1B3B3;
  margin-bottom: 0; }
  .modified__main p,
  .modified__main input {
    margin-bottom: 0; }
  .modified__main input {
    margin-top: 13px; }
  @media (max-width: 767px) {
    .modified__main p {
      margin-bottom: 1.575rem; }
    .modified__main p:last-child {
      margin-bottom: 0; } }

.modified__total {
  padding: 20px 15px;
  background-color: #FFFFFF;
  border: 1px solid #B1B3B3;
  border-top: 0 none;
  margin-bottom: 0; }

.note {
  color: #888B8D; }
  .note.note--reg {
    font-size: 14px; }
  .note.note--sm {
    font-size: 12px; }
  .note.with-top-margin {
    margin-top: 20px; }

/* select.form__field.neopeds-flange {
  display: none;
}

.fieldset__image img.neopeds-flange-image {
  display: none;
} */
.footer {
  width: 100%;
  margin: 0 auto;
  height: 190px;
  /* position: absolute; */
  position: relative;
  bottom: 0; }
  @media (max-width: 1199px) {
    .footer {
      height: 160px; } }
  @media (max-width: 767px) {
    .footer {
      height: 160px; } }

.footer__row {
  flex: 0 0 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }
  @media (max-width: 564px) {
    .footer__row {
      flex: 0 0 83.3333333333%;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; } }

.footer__row--rev {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end; }
  @media (max-width: 564px) {
    .footer__row--rev {
      flex: 0 0 16.6666666667%; } }

.footer__main {
  height: 130px;
  width: 100%;
  background-color: #004B87;
  padding: 35px 0; }
  @media (max-width: 1199px) {
    .footer__main {
      height: 117px;
      padding: 25px 0; } }
  @media (max-width: 564px) {
    .footer__main {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      flex: 0 0 100%; } }

.footer__copyright {
  height: 60px;
  width: 100%;
  background-color: #0085CA;
  color: #FFFFFF; }
  .footer__copyright .footer__row {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 100%; }
  @media (max-width: 1199px) {
    .footer__copyright {
      height: 43px; } }

.footer__title,
.footer__link {
  color: #FFFFFF; }
  @media (max-width: 564px) {
    .footer__title,
    .footer__link {
      display: block;
      width: 100%; }
      .footer__title a h5,
      .footer__link a h5 {
        font-size: 1rem; }
      .footer__title a h6,
      .footer__link a h6 {
        font-size: 0.85rem; } }
  @media (max-width: 320px) {
    .footer__title a h5,
    .footer__link a h5 {
      font-size: 0.9rem; }
    .footer__title a h6,
    .footer__link a h6 {
      font-size: 0.75trem; } }

.footer__help {
  color: #B9D9EB; }

.footer__el {
  margin-bottom: 0; }
  .footer__el span.mi {
    position: relative;
    top: 2px; }

.footer__link .footer__el {
  margin-bottom: 20px; }
  @media (max-width: 564px) {
    .footer__link .footer__el {
      margin-bottom: 0; } }

@media (max-width: 564px) {
  .footer__title .footer__el {
    margin-bottom: 20px; } }

.mi-btb-question-circle:hover {
  cursor: pointer; }

.header {
  background-color: #001E46;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #FFFFFF; }
  @media (max-width: 1199px) {
    .header {
      height: 80px; } }
  @media (max-width: 767px) {
    .header {
      height: 60px; } }

.header__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%; }

.header__el {
  margin-bottom: 0; }
  .header__el span.mi {
    position: relative;
    top: 2px; }
    .header__el span.mi:hover {
      cursor: pointer; }

.header__logo {
  color: #FFFFFF; }
  @media (max-width: 564px) {
    .header__logo h4 {
      font-size: 1.125rem; } }
  @media (max-width: 320px) {
    .header__logo h4 {
      font-size: 1rem; } }

.header__help {
  color: #B9D9EB; }

.home ::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #E8E8E7;
  border: 1px solid #E8E8E7;
  height: 5px; }
.home ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 5px;
  background-color: #888B8D;
  -webkit-box-shadow: 0 0 1px #888B8D; }
.home .home__banner {
  color: #FFFFFF;
  background-color: #001E46; }
  @media (max-width: 767px) {
    .home .home__banner .panel.panel__50:first-child {
      padding: 50px 25px 0px 25px; }
    .home .home__banner .panel.panel__50:last-child {
      padding: 0px 25px 30px 25px; } }
  @media (max-width: 564px) {
    .home .home__banner .panel.panel__50:first-child {
      padding: 40px 15px 0px 15px; }
    .home .home__banner .panel.panel__50:last-child {
      padding: 0px 15px 20px 15px; } }
  .home .home__banner .panel__content {
    padding: 100px 25px 75px 25px; }
    @media (max-width: 1023px) {
      .home .home__banner .panel__content h1 {
        font-size: 1.875rem; } }
    @media (max-width: 767px) {
      .home .home__banner .panel__content {
        padding: 0px; } }
    @media (max-width: 564px) {
      .home .home__banner .panel__content h1 {
        font-size: 1.375rem; } }
.home .home__runner {
  color: #FFFFFF;
  background-color: #0085CA;
  padding: 40px 0; }
  @media (max-width: 564px) {
    .home .home__runner {
      padding: 20px 15px; } }
  .home .home__runner .row {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .home .home__runner .row {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
  .home .home__runner .runner__text {
    margin-right: 19px; }
    .home .home__runner .runner__text h4 {
      margin-bottom: 10px; }
    .home .home__runner .runner__text p {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      .home .home__runner .runner__text {
        margin-right: 16px; }
        .home .home__runner .runner__text h4 {
          margin-bottom: 0px; } }
  .home .home__runner .runner__button {
    margin-left: 19px; }
    @media (max-width: 767px) {
      .home .home__runner .runner__button {
        margin-left: 0px; } }
.home .choose-your-tube {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0; }
  @media (max-width: 1199px) {
    .home .choose-your-tube {
      padding: 60px 20px; } }
  @media (max-width: 564px) {
    .home .choose-your-tube {
      padding: 40px 15px; } }
  .home .choose-your-tube .row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
  .home .choose-your-tube .tube__header {
    width: 100%;
    text-align: center; }
    .home .choose-your-tube .tube__header h3 {
      color: #001E46;
      margin-bottom: 60px;
      text-transform: uppercase; }
    .home .choose-your-tube .tube__header h4 {
      color: #53565A;
      margin-bottom: 16px; }
  .home .choose-your-tube .tube__content {
    padding: 60px 65px;
    background-color: #F8F8F8;
    border: 1px solid #B1B3B3;
    text-align: center; }
    @media (max-width: 1199px) {
      .home .choose-your-tube .tube__content {
        padding: 38px 32px; } }
    @media (max-width: 767px) {
      .home .choose-your-tube .tube__content {
        padding: 28px 24px; } }
  .home .choose-your-tube .tube__image img {
    max-width: 100%;
    border: 1px solid #B1B3B3;
    display: block; }
  .home .choose-your-tube .tube__cta {
    padding-top: 25px; }
    .home .choose-your-tube .tube__cta.row {
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      flex: 0 0 100%; }
      .home .choose-your-tube .tube__cta.row a {
        flex: 0 0 47.9166666667%; }
    .home .choose-your-tube .tube__cta button {
      width: 100%;
      margin-bottom: 0; }
    .home .choose-your-tube .tube__cta .btn__solid.btn__solid--lg {
      padding: 20px 0;
      width: 100%;
      text-align: center; }
      @media (max-width: 767px) {
        .home .choose-your-tube .tube__cta .btn__solid.btn__solid--lg {
          padding: 16px 0; } }
  .home .choose-your-tube .tube__disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 60px; }
    .home .choose-your-tube .tube__disclaimer h5 {
      display: block;
      margin-bottom: 20px; }
    .home .choose-your-tube .tube__disclaimer p {
      margin-bottom: 0px; }

.icon-nav-wrapper {
  background-color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid #B1B3B3; }

.icon-nav {
  width: 100%;
  margin: 0 auto;
  padding: 40px 65px; }
  @media (max-width: 564px) {
    .icon-nav {
      padding: 20px 15px; } }

.icon-nav__header {
  text-align: center; }
  @media (max-width: 564px) {
    .icon-nav__header {
      text-align: left; } }
  .icon-nav__header span {
    display: inline-block; }
    @media (max-width: 564px) {
      .icon-nav__header span.display-block-on-mobile {
        display: block;
        padding-top: 15px; } }
  .icon-nav__header h4 {
    margin-bottom: 0; }
  .icon-nav__header span.font-weight-reg {
    color: #888B8D; }
  .icon-nav__header span.font-weight-bold {
    color: #53565A; }
  .icon-nav__header .btn__ghost {
    font-size: 16px;
    font-size: 1rem;
    color: #0085CA;
    background-color: #FFFFFF;
    border: 1px solid #0085CA;
    border-radius: 0;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1px 6px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    position: relative;
    top: -3px; }
    .icon-nav__header .btn__ghost:hover {
      transition: color 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      cursor: pointer;
      color: #FFFFFF;
      background-color: #0085CA;
      border-color: #0085CA; }
    @media (max-width: 564px) {
      .icon-nav__header .btn__ghost {
        margin-left: 0; } }
  .icon-nav__header .btn__solid {
    padding: 2px 7px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 8px;
    position: relative;
    top: -3px; }

.icon-nav__items {
  flex: 0 0 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 60px 100px 0px 100px; }
  @media (max-width: 1023px) {
    .icon-nav__items {
      padding: 35px 0 0 0; } }
  @media (max-width: 767px) {
    .icon-nav__items {
      padding: 35px 0 15px 0; } }
  @media (max-width: 564px) {
    .icon-nav__items {
      padding: 30px 0 15px 0; } }

.icon-nav__item {
  width: auto;
  color: #B1B3B3;
  text-align: center; }
  .icon-nav__item:hover {
    cursor: default; }
  .icon-nav__item .icon {
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center; }
    @media (max-width: 1023px) {
      .icon-nav__item .icon {
        font-size: 40px;
        margin-bottom: 10px; } }
    @media (max-width: 564px) {
      .icon-nav__item .icon {
        font-size: 30px;
        margin-bottom: 0; } }
  .icon-nav__item .title {
    margin: 0 auto;
    position: relative;
    height: 40px;
    text-align: center; }
    @media (max-width: 564px) {
      .icon-nav__item .title {
        height: 0; } }
    .icon-nav__item .title h6 {
      margin-bottom: 0; }
      .icon-nav__item .title h6 span {
        margin-bottom: 0;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        line-height: 31px; }
        .icon-nav__item .title h6 span.display-block {
          display: block; }
        @media (max-width: 564px) {
          .icon-nav__item .title h6 span {
            display: none; } }
      .icon-nav__item .title h6 i.mi-mitg-shiley-check {
        position: relative;
        top: 1px;
        margin-right: 4px;
        display: none; }
  .icon-nav__item.is-active {
    color: #0085CA; }
  .icon-nav__item.is-validated h6 i.mi-mitg-shiley-check {
    display: inline; }

.details .details__header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline; }
  .details .details__header .details__title span {
    font-size: 1.875rem;
    display: inline-block;
    color: #53565A; }
    @media (max-width: 767px) {
      .details .details__header .details__title span {
        font-size: 1.375rem; } }
  .details .details__header .btn__ghost {
    font-size: 16px;
    font-size: 1rem;
    color: #0085CA;
    background-color: #FFFFFF;
    border: 1px solid #0085CA;
    border-radius: 0;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 7px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    position: relative;
    top: -4px; }
    .details .details__header .btn__ghost:hover {
      transition: color 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      cursor: pointer;
      color: #FFFFFF;
      background-color: #0085CA;
      border-color: #0085CA; }
  @media (max-width: 767px) {
    .details .details__header {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .details .details__header .details__title {
        margin-bottom: 1.575rem; } }
.details h5 {
  color: #53565A; }
  .details h5 span.font-weight-reg {
    margin-left: 3px; }
.details .btn__solid--lg {
  margin-top: 30px; }
.details span {
  display: inline-block; }
.details .btn__ghost.btn__ghost--xs {
  font-size: 16px;
  font-size: 1rem;
  color: #0085CA;
  background-color: #FFFFFF;
  border: 1px solid #0085CA;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem; }
  .details .btn__ghost.btn__ghost--xs:hover {
    transition: color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0085CA;
    border-color: #0085CA; }

.panel__main {
  flex: 0 0 58.3333333333%;
  flex: 1 0 auto;
  padding-right: 60px; }
  @media (max-width: 1023px) {
    .panel__main {
      flex: 0 0 100%;
      padding-right: 0px; } }

.panel__sidebar {
  flex: 0 0 29.1666666667%; }
  @media (max-width: 1023px) {
    .panel__sidebar {
      flex: 0 0 100%; } }

.panel__sidebar {
  text-align: right; }
  .panel__sidebar .help__box {
    text-align: left;
    background-color: #F8F8F8;
    color: #53565A;
    border: 1px solid #B1B3B3;
    padding: 55px 35px;
    margin-bottom: 20px; }
    .panel__sidebar .help__box h6 {
      margin-bottom: 0; }
      .panel__sidebar .help__box h6 span {
        color: #0085CA;
        text-decoration: underline; }
    @media (max-width: 1023px) {
      .panel__sidebar .help__box {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        padding: 35px 70px;
        margin-top: 45px; } }
    @media (max-width: 564px) {
      .panel__sidebar .help__box {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 25px 20px; } }
  .panel__sidebar .sidebar button {
    width: 100%;
    font-size: 1.125rem;
    padding-top: 28px;
    padding-bottom: 28px; }
    @media (max-width: 1023px) {
      .panel__sidebar .sidebar button {
        display: none; } }

input.form__field--sm label {
  margin-right: 10px; }
input.form__field--sm .form__field {
  padding: 5px;
  width: 50px;
  display: inline-block; }

.inline-dropdown .label {
  display: inline; }
.inline-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  padding: 10px 5px;
  width: 60px;
  border-radius: 0;
  border: 1px solid #B1B3B3;
  color: #53565A;
  margin-bottom: 0.9375rem;
  margin-left: 5px;
  line-height: 1rem;
  background: url("../img/down-caret.svg") no-repeat;
  background-position: right 5px top 9px;
  background-size: 0.75rem;
  background-color: #FFFFFF; }

.summary .accordion .label {
  display: inline; }
.summary .accordion select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  padding: 2px;
  width: 60px;
  border-radius: 0;
  border: 1px solid #B1B3B3;
  color: #53565A;
  margin-bottom: 0.9375rem;
  margin-left: 5px;
  line-height: 1rem;
  background: url("../img/down-caret.svg") no-repeat;
  background-position: right 5px top 6px;
  background-size: 0.625rem;
  background-color: #FFFFFF; }
.summary .btn__ghost {
  font-size: 16px;
  font-size: 1rem;
  color: #0085CA;
  background-color: #F8F8F8;
  border: 1px solid #0085CA;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 10px; }
  .summary .btn__ghost:hover {
    transition: color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    color: #F8F8F8;
    background-color: #0085CA;
    border-color: #0085CA; }

.nav-wrapper {
  background-color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid #B1B3B3; }

.nav {
  width: 100%;
  margin: 0 auto;
  padding: 40px 65px; }

.nav__header {
  text-align: center; }
  .nav__header h3 {
    color: #001E46; }

.nav__items {
  flex: 0 0 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.nav__item {
  width: auto;
  color: #B1B3B3;
  text-align: center;
  padding: 0 30px;
  /* min-width: 30px; */ }
  .nav__item:hover {
    cursor: default; }
  @media (max-width: 767px) {
    .nav__item {
      padding: 0 20px; } }
  @media (max-width: 564px) {
    .nav__item {
      padding: 0 15px; } }
  @media (max-width: 320px) {
    .nav__item {
      padding: 0 8px; } }
  .nav__item.is-active {
    color: #0085CA; }
  .nav__item.is-disabled {
    cursor: default; }
    .nav__item.is-disabled .title h6 {
      color: #0085CA; }
  .nav__item .title {
    margin: 0 auto;
    position: relative;
    /* height: 40px; */
    text-align: center; }
    .nav__item .title h6 {
      margin-bottom: 0;
      text-transform: uppercase;
      /* @include vertical-align();
      line-height: 20px; */ }
      .nav__item .title h6 span {
        display: block; }
      .nav__item .title h6 i.mi-mitg-shiley-check {
        position: relative;
        top: 1px;
        margin-right: 4px;
        display: none; }
      @media (max-width: 564px) {
        .nav__item .title h6 {
          font-size: 12px; } }
  .nav__item.is-validated .title h6 i.mi-mitg-shiley-check {
    display: inline; }

.nav-wrapper {
  padding: 100px 0 65px 0; }
  @media (max-width: 1023px) {
    .nav-wrapper {
      padding: 65px 0 40px 0; } }
  @media (max-width: 564px) {
    .nav-wrapper {
      padding: 0px 0px 15px 0px; } }
  .nav-wrapper .nav__header {
    margin-bottom: 35px; }

.confirmation {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  @media (max-width: 564px) {
    .confirmation {
      margin-top: 10px;
      margin-bottom: 50px; } }

.reorder-form {
  padding: 40px 25px;
  background-color: #FFFFFF;
  color: #53565A; }
  @media (max-width: 564px) {
    .reorder-form {
      padding: 20px 15px; } }
  .reorder-form .section__header {
    color: #53565A;
    margin-top: 38px;
    margin-bottom: 20px; }
  .reorder-form h5 {
    margin-bottom: 20px; }
  .reorder-form label {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px; }
  .reorder-form .row {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    @media (max-width: 564px) {
      .reorder-form .row {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .reorder-form p {
    margin-bottom: 30px; }
  .reorder-form .form__field {
    margin-bottom: 0px;
    border-color: #B1B3B3; }
  .reorder-form textarea.form__field {
    width: 100%; }
  .reorder-form .form__field--short {
    width: 33.3333%; }
  .reorder-form .form__error {
    font-size: 14px;
    font-weight: 500;
    color: #E35205;
    display: none; }
  .reorder-form select.form__field {
    background-position: right 12.5px top 1rem; }
  .reorder-form span.checkbox-label {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    padding-left: 6px;
    padding-right: 10px; }
  .reorder-form input[type=checkbox] {
    position: relative;
    top: 3px;
    height: 17px;
    width: 17px;
    display: inline-block;
    padding: 2px 2px; }
  .reorder-form .btn__solid {
    padding: 30px 30px;
    margin-top: 35px; }

/* --------------------------------------------------------

   -------------------------------------------------------- */
.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important; }

.is-hidden {
  display: none; }

.is-shown {
  display: block; }

@media (max-width: 564px) {
  .hide-on-mobile {
    display: none; } }

/*# sourceMappingURL=main.css.map */
